<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FileWatcherSettings" type="BCLTaskApp.ConfigSections.FileWatcherSettingsConfigSection, BCLTaskApp"/>
    <section name="SupportedCultures" type="BCLTaskApp.ConfigSections.SupportedCulturesConfigSection, BCLTaskApp"/>
  </configSections>
  <FileWatcherSettings>
    <Folders>
      <Folder name="temp" path="C:\temp\" />
      <Folder name="temp2" path="C:\temp2\" />
      <Folder name="temp3" path="C:\temp3\" />
    </Folders>
    <DefaultRule destination="C:\result\" isNeededNumber = "true" isNeededDate ="true"/>
    <CurrentCulture name="Ru-ru"/>
    <FilesRules>
      <FileRule name ="txt" pattern ="\w+\.txt" destination ="C:\resultTxt\" isNeededNumber = "true" isNeededDate ="true"/>
      <FileRule name = "cs" pattern ="\w+\.cs" destination ="C:\resultSharp\" isNeededNumber = "false" isNeededDate ="true"/>
      <FileRule name ="jpg" pattern ="\w+\.jpg" destination ="C:\resultJpg\" isNeededNumber = "true" isNeededDate ="false"/>
      <FileRule name ="html" pattern ="\w+\.html" destination ="C:\resultHtml\" isNeededNumber = "false" isNeededDate ="false"/>
    </FilesRules>
  </FileWatcherSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>